<div class="container">
  <form class="formcontol">
    <td>
      <tr>Name</tr>
      <input type="text" class="form-control" placeholder="Enteryour name" required>
      <tr>UserName</tr>
      <input type="text" class="form-control" placeholder="Enteryour username" required>
      <tr>password</tr>
      <input type="password" class="form-control" placeholder="Enteryour password" required>
      <tr>confirm password</tr>
      <input type="text" class="form-control" placeholder="ReEnteryour password" required>
      <tr>mobile no</tr>
      <input type="number" class="form-control" placeholder="Enteryour mobile no" required>
    
    </td>
    <div class="btn">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
    <div>
      <p>Already a user?</p>
      <a href="#">Login here</a>
    </div>
  </form>

</div>